@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'helvetica neue',helvetica,arial, sans-serif;
}
.main{
    background: #16384c;
    padding-bottom: 60px;
    text-align: center;
}
.heading{
    margin: 50px;
    padding-top: 20px;
    background: rgb(3, 106, 146);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 35px;
}
.book-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tab{
    background-color: #b0b6be;
    width: 290px;
    padding: 40px;
    margin: 50px;
    border-radius: 4px;
}
.name h1{
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 20px;
}
.price h2{
    font-size: 40px;
    font-family:fantasy;
}
.price span{
    font-size: 16px;
    padding-top: 10px;
    color: white;
    padding: 4px 5px;
}
hr{
    height: 5px;
    width: 200px;
    margin: auto;
    background-color: black;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}
.list{
    margin-top: 20px;
    text-align: left;
}
.list li{
    margin: 20px 0;
}
.list li i{
    color: rgb(196, 127, 38);
}
.add button{
    background-color: rgb(177, 127, 34);
    color: #fff;
    outline: none;
    border: none;
    padding: 15px 60px;
}
.add button:hover{
    background-color: rgb(24, 24, 90);
    cursor: pointer;
}

/* appointment link*/
.container2{
    display: flex;
    margin: 40px;
    font-size: 30px;
    color: #fff;
}
.call-to-action{
    padding-top: 60px;
    padding-bottom: 60px;
    background: darkorange;
}
.container2 .title-link .thm-btn{
    justify-content: center;
    padding: 20px 48px;
    font-size: 17px;
    color: #fff;
    background: #02489d;
    display: inline-block;
}
.container2 .title-link{
    padding-left: 100px;
}
.container2 .title-link .thm-btn:hover{
    background: #02244e;
    transition: .5s;
}